### The following ENV vars are expected to be defined:
ADMIN_EMAIL=
ALERTS_EMAIL=
# APP_NAME is deprecated. Please use APP_DISPLAY_NAME instead.
APP_DISPLAY_NAME=
APPLICATION_ENV=development
CONTACT_US_URL=
EXPAND_S3_FOLDERS=YOUR-AWS-S3-BUCKET-NAME/THE-PATH/logos/|/data/public/img/logos YOUR-AWS-S3-BUCKET-NAME/THE-PATH/favicons/|/data/public
EXPAND_S3_KEY=
EXPAND_S3_SECRET=
GA_ENABLED=
GA_TRACKING_ID=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_ENABLED=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_ENABLED=
HIDE_PUBLIC_APIS_FROM_GUESTS=
MAILER_PASSWORD=
MAILER_USERNAME=
SHOW_POPULAR_APIS=true
THEME_COLOR=
