body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.bold { font-weight: bold; }

.card-contents {
  border: 1px solid #333;
  border-left-width: 8px;
  border-radius: 3px;
  margin: 5px;
  min-height: 65px;
  padding: 4px 8px 12px;
}
.card-contents:hover .card-hover-content { display: inline; }

.card-hover-content { display: none; }

.card-title {
  font-size: larger;
  font-weight: bold;
}

.chart-line-label {
  border-style: solid;
  border-width: 0 0 0 4px;
  display: inline-block;
  margin: 4px 10px;
  padding-left: 4px;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
}

dd { margin-bottom: 10px; }

.cursor-info {
  cursor: help;
}

.fixed { font-family: monospace; }

#footer {
  color: #999;
  font-size: 11px;
  line-height: 1.25;
  margin: 6px 0;
}
.footer-logo { margin: 2px 8px 8px; }

#get-started {
   border-left: 2px solid #333;
   padding-left: 20px;
}

.has-tooltip {
  border-bottom: 1px dashed #999;
  cursor: help;
}

.home-page .site-name { font-size: 50px; }

#logo-strip {
    border-radius: 12px;
    margin: 40px 0;
    overflow: hidden;
}
#logo-strip > div {
    border-radius: 2px;
    box-shadow: inset 0px 0px 8px -3px #000;
    margin: 0 -15px;
    padding: 0 15px;
}
#logo-strip img {
    margin: 16px 10%;
}
#logo-strip * {
    line-height: 30px;
    text-align: center;
}

.nowrap { white-space: nowrap; }

.pad-horiz {
    padding-left: 1ex;
    padding-right: 1ex;
}
.pad-horiz-extra {
    padding-left: 60px;
    padding-right: 60px;
}

.pad-top { padding-top: 20px; }

.page-title {
  line-height: 1;
}
.page-title > small {
  position: relative;
  top: -6px;
}

@media (max-width: 479px) {
  .shrink-below-480 > .btn {
    padding: 4px 8px;
  }
}

.sil-blue { color: #005B99; }

.space-after-icon > i { padding-right: 4px; }
.space-before-icon > i { margin-left: 4px; }
.space-horiz {
    padding-left: 1ex;
    padding-right: 1ex;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  margin-top: -20px;
  padding: 10px 10px 0;
}

.text-dark { color: #333; }

.usage-chart-container {
  margin-bottom: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}
