<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="DeveloperPortal">
            <directory>./unit</directory>
            <directory>./integration</directory>
        </testsuite>
    </testsuites>
  
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>1000</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>