<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="DeveloperPortal">
            <directory>./unit</directory>
            <directory>./integration</directory>
        </testsuite>
    </testsuites>
</phpunit>